body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search__container {
    text-align: center;
}
.root__icon {
    font-size: 40px;
}
h1{
    margin-bottom: 2px;
}
.search__form {
    display: inline-block;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search__input {
    padding: 5px 10px;
    font-size: 14px;
}

.search__button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
}

.search__submitted {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
